.current_time,.alarm_time{
    font-size: 100px;
    text-align: center;
    background-color: blue;
    color: white;
}
.alarm{
    font-size: 100px;
    text-align: center;
    background: black;
    color: white;
}